# data handling
pandas~=2.2.2

# packaging
typing_extensions
requests~=2.32.3
tiktoken~=0.7.0

# streamlit related
streamlit>=1.28.0,<2.0.0
streamlit_extras~=0.4.0

# environment and web
python-dotenv~=1.0.1
beautifulsoup4~=4.12.3
pillow

autogen-agentchat~=0.6.1
autogen-core~=0.6.1
pyautogen~=0.7.6

# search engines
serpapi~=0.1.5
search-engine-parser

# langchain
langchain
langchain-community

# pdf processing (optional)
PyMuPDF==1.23.26
pdf2image~=1.17.0
gradio~=4.44.0

# visualization
plotly

# progress bars
tqdm

joblib
grep_ast
networkx
humanize
genson
aiohttp~=3.8.0
openai~=1.68.0
